h1 {
    color: #5040CE;
    display: flex;
    justify-content: center;
    align-content: center;
}

.component-wrapper {
    height: 100%;
    width: 100%;
    color: rgb(64, 204, 255);
    background-color: transparent;
}

.gallery-component {
    display: none;
    margin-left: 40px;
    margin-right: 40px;
}

img {
    transition: all .2s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

.toggle-select {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 0 15px;
    margin-left: 50px;
    padding: 8px 20px 10px;
    border: 1px solid rgb(31,45,77);
    border-top-color: rgb(56,83,140);
    border-bottom-color: rgb(21,30,51);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font: normal normal bold 14px/1 "Coda", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #3498db;
    -webkit-box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    text-shadow: 0 -1px 1px rgb(30,45,77) ;
}

.toggle-select:hover {
    cursor: pointer;
    background: rgba(79,172,234,1);
    -webkit-box-shadow: 0 0 20px 1px rgb(135,173,255) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    box-shadow: 0 0 20px 1px rgb(135,173,255) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;

    animation: heartbeat 1.5s ease-in-out infinite both;
}

.toggle-select:active {
    cursor: pointer;
    margin: 0px 0 10px;
    margin-left: 50px;
    background: rgb(65, 98, 168);
    -webkit-box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 2px 0 0 rgb(31,48,83) , 0 4px 3px 0 rgb(17,17,17) ;
    box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 2px 0 0 rgb(31,48,83) , 0 4px 3px 0 rgb(17,17,17) ;
}

.toggle-select:focus {
    outline: none;
    animation: jello-horizontal 0.9s both;
}



.remove-from-your-collection {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: 4rem;
    margin-right: 20px;
    padding: 8px 20px 10px;
    border: 1px solid rgb(31,45,77);
    border-top-color: rgb(56,83,140);
    border-bottom-color: rgb(21,30,51);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font: normal normal bold 14px/1 "Coda", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #3498db;
    -webkit-box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    text-shadow: 0 -1px 1px rgb(30,45,77) ;
}

.remove-from-your-collection:hover {
    cursor: pointer;
    background: red;
    -webkit-box-shadow: 0 0 20px 1px rgb(135,173,255) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    box-shadow: 0 0 20px 1px rgb(135,173,255) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    cursor: pointer;
    margin-right: 50px;

    animation: heartbeat 1.5s ease-in-out infinite both;
}

.remove-from-your-collection:active {
    margin: 5px 0 10px;
    margin-right: 50px;
    background: rgb(65, 98, 168);
    -webkit-box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 2px 0 0 rgb(31,48,83) , 0 4px 3px 0 rgb(17,17,17) ;
    box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 2px 0 0 rgb(31,48,83) , 0 4px 3px 0 rgb(17,17,17) ;

    animation: jello-horizontal 0.9s both;
}

.remove-from-your-collection:focus {
    outline: none;
}

.toggle-download-images {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 0 15px;
    padding: 8px 20px 10px;
    border: 1px solid rgb(31,45,77);
    border-top-color: rgb(56,83,140);
    border-bottom-color: rgb(21,30,51);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font: normal normal bold 14px/1 "Coda", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #3498db;
    -webkit-box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    text-shadow: 0 -1px 1px rgb(30,45,77) ;
    margin-left: 200px;
}

.toggle-download-images:hover {
    cursor: pointer;
    background: green;
    -webkit-box-shadow: 0 0 20px 1px rgb(135,173,255) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    box-shadow: 0 0 20px 1px rgb(135,173,255) inset, 0 1px 0 0 rgb(29,44,77) , 0 6px 0 0 rgb(31,48,83) , 0 8px 4px 1px rgb(17,17,17) ;
    margin-left: 200px;

    animation: heartbeat 1.5s ease-in-out infinite both;
}

.toggle-download-images:active {
    background: rgb(65, 98, 168);
    -webkit-box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 2px 0 0 rgb(31,48,83) , 0 4px 3px 0 rgb(17,17,17) ;
    box-shadow: 0 1px 10px 1px rgb(92,139,238) inset, 0 1px 0 0 rgb(29,44,77) , 0 2px 0 0 rgb(31,48,83) , 0 4px 3px 0 rgb(17,17,17) ;
    margin-left: 200px;

    animation: jello-horizontal 0.9s both;
}

.toggle-download-images:focus {
    outline: none;
}



.share__button {
    border: 1px solid black;
    background-color: #fff;
    border-radius: 1rem;
    margin-left: .6rem;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 1.1rem;
    background-color: white;
    display: none;
    overflow: hidden;
}

.header-title {
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header-container {
    padding: 1rem;
    z-index: 1;
    position: sticky;
    top: 0;
    height: 100%;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    border-radius: 12px;

    /* animation */
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.gallery-container {
    z-index: -1;
}

.button-container {
    display: flex;
    justify-content: center;
}



/* keyframe animation creation */

@keyframes puff-in-center {
    0% {
      transform: scale(2);
      filter: blur(2px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
    }
  }


  /* pulsate on hover buttons */
  @keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  



@media (min-width: 0px) and (max-width: 575px) {
    .header-container{
        height: 12rem;
    }

    .toggle-select {
        display: block;
        margin: 0 auto;
    }

    .remove-from-your-collection{
        margin: 0 auto;
    }
}