h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(64, 204, 255);
}

.component-wrapper {
    color: rgb(64, 204, 255);
    background-color: rgb(31, 31, 31);
}

.gallery-component {
    display: none;
    margin-left: 40px;
    margin-right: 40px;
}

img {
    transition: all .2s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

.add-to-collection {
    float: right;
    margin-right: 20px;
    border-radius: 5px;
    background-color: rgb(64, 204, 255);
}

.remove-from-your-collection {
    float: right;
    margin-right: 20px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
}

.toggle-download-selected {
    margin-left: 320px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: rgb(47, 216, 0);
}

.share__button {
    border: 1px solid black;
    background-color: aqua;
    border-radius: 1rem;
    margin-left: .6rem;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}